<?xml version="1.0"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    <!--数据库连接配置-->
    <add key="ConnectionString" value="server=115.238.94.2;initial catalog=AIS20161208094021;user id=sa;password=bamu.123"/>
    <!--频率设置-->
    <add key="timerEdbOUTSTOCK" value="300000"/>
    <add key="timerErrorOUTSTOCK" value="3600000"/>
    <add key="timerEdbSTKTRANSFER" value="3600000"/>
    <add key="timerEdbRETURNSTOCK" value="3600000"/>
    <add key="timerK3CloudSalOut" value="300000"/>    
    <add key="timerK3CloudSalReturn" value="3600000"/>    
    <add key="timerK3CloudItem" value="3600000"/>   
    <!--K3Cloud配置-->
    <add key="K_Url" value="http://115.238.94.2:8090/k3cloud/"/>
    <add key="K_DbId" value="5a14452982e53c"/>
    <add key="K_User" value="morningstar"/>
    <add key="K_Password" value="123456"/>
    <add key="K_intPort" value="2052"/>
    <!--E店宝配置-->
    <add key="E_Url" value="http://vip3256.edb08.com.cn/rest/index.aspx"/>
    <add key="E_Dbhost" value="edb_a77987"/>
    <!--<add key="E_Wfpuser" value="2e66ef3b"/>-->
    <!--<add key="E_Appkey" value="063f7ddcfe97446eb8de24b9324c47eb"/>-->
    <add key="E_Appkey" value="2e66ef3b"/>
    <add key="E_secret" value="063f7ddcfe97446eb8de24b9324c47eb"/>
    <add key="E_token" value="c4a32005c449467f82f6c5f60f69ba83"/>
    <add key="E_Format" value="XML"/>
    <!--下载日志-->
    <add key="订货日期" value="2018-01-01 01:01:25.000"/>
    <add key="退货到货日期" value="2018-01-01 01:01:25.000"/>
    <add key="LogDays" value="30"/>
    <!--E店宝订单查询条件,如果是""则不作为过滤条件-->
    <!--日期类型:订货日期/付款日期/发货日期/归档日期/预计归档日期/到货日期/验货日期/核销日期/生成应收时间/称重时间/审单时间/取消时间/完成时间/打印时间/获取日期-->
    <add key="date_type" value="发货日期"/>
    <!--付款状态:待退款部分退款/待退款全部退款/待退款所有/货到付款/交易关闭/未付款/已付款/已退款部分退款/已退款全部退款/已退款所有-->    
    <add key="payment_status" value=""/>
    <!--发货状态：待退货部分退货/待退货全部退货/待退货所有/退货到货部分退货/退货到货全部退货/退货到货所有/未发货/已发货-->
    <add key="order_status" value="已发货"/>
    <!--处理状态：未确认/已确认/已财务审核/已作废/已归档-->
    <add key="proce_Status" value=""/>
    <!--外部订单状态：待退款部分退款/待退款全部退款/等待买家付款/货到付款/交易成功/交易关闭/买家已付款/缺货订单未付款/已发货/已付款/已签收/交易成功/已取消/预退款-->
    <add key="platform_status" value=""/>
    <!--是否产品套装:3单品与套装:显示单品信息+套装信息;1单品与套装明细:显示单品信息+套装明细信息;2单品与套装以及套装明细:显示单品信息+套装信息+套装明细信息(默认)-->
    <add key="productInfo_type" value="1"/>
    <!--开始时间(yyyy-MM-ddHH:mm:ss)	-->
    <add key="begin_time" value=""/>
    <!--结束时间(yyyy-MM-ddHH:mm:ss)-->
    <add key="end_time" value=""/>
    <!--外部订单编号,可以作为测试使用-->
    <add key="out_tid" value=""/>
    <!--EDB订单编号,可以作为测试使用-->
    <add key="tid" value=""/>
    <!--发票打印情况(0:未打印,1:已打印)-->
    <add key="invoice_isprint" value=""/>
    <!--是否开发票(0:未开/1:已开)-->
    <add key="invoice_isopen" value=""/>
    <!--单次下载记录条数,50到2000之间整数-->
    <add key="page_size" value="1000"/>
</appSettings>
</configuration>
